.form {
  &-title {
    font-size: 40px;
    font-weight: 700;
    color: $color-primary;
  }

  &-text {
    font-size: 20px;
    font-weight: 400;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  &-input {
      width: 431px;
      height: 50px;
      padding-left: 16px;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      margin-bottom: 24px;

      &::placeholder {
          color: $text-color;
          opacity: 0.6;
      }
  }
  &-forgotPassword {
      color: $custom-color;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 30px;
  }
  &-btn {
      width: 447px;
      height: 48px;
      background-color: $custom-color;
      color: #fff;
      border: none;
  }
}
