.mainContent {
  padding: 1.875rem;
  padding-bottom: 1rem;
  background-color: #fff;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  overflow-x: scroll;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      tr {
        th {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          color: $text-color;
          text-align: left;
          height: 1.875rem;
          // padding-right: 20px;
          // max-width: 11.875rem;
          // min-width: 6.875rem;
          padding-right: 20px;

          span {
            display: flex;
            gap: 10px;
            align-items: center;

            .img {
              width: 1rem;
              height: 0.667rem;

              position: relative;
            }
          }

        }
      }
    }

    tbody {
      tr {
        td {
          padding: 20px 20px 20px 0;
          max-width: 190px;
          min-width: 130px;
          font-size: 14px;
          font-weight: 400;
          color: $text-color;
          word-wrap: break-word;
          border-bottom: 1px solid rgba(33, 63, 125, 0.1);

          a {
            text-decoration: none;
            color: $text-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }
        .status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // width: 146.66;

          .active {
            background-color: rgba($active-pill, 0.06);
            color: $active-pill;
            height: 14px;
            padding: 0.438rem 0.75rem;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .img {
            position: relative;

            img {
              width: 3.33px;
              height: 14.44px;
            }
          }

        }
      }
    }
  }
}
